body {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'PT Sans', sans-serif;
  font-size: 14px;
  color: #000000;
  background-color: #ffffff;
  background-position: top center;
  background-repeat: repeat;
}

a {
  text-decoration: none;
  color: #000000;
}

ul {
  list-style: none;
}

.menu,
.navigation,
.offers,
.contacts-footer,
.navigation-footer,
.main-footer,
.top-menu,
.container-broadcrumps,
.content {
  width: 960px;
  margin: 0 auto;
}

p {
  padding: 0;
  margin: 0;
}

/* functions menu (top) */

.functions-site {
  background-color: #293449;
}

.technomart-link {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px 64.5px 15px 64.5px;
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
}

.form-search {
  border: 0px solid black;
  background-color: transparent;
  padding: 10px 0 10px 35px;
}

.loupe {
  display: block;
  position: absolute;
  left: 17px;
  top: 12px;
}

.bookmark,
.cart {
  float: left;
  margin-right: 9px;
  margin-top: 2px;
}

.form-search::placeholder {
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.functions-sign {
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.order-func {
  background-color: #63a63e;
  color: #ffffff;
  font-family: 'Cuprum';
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
}

.indent {
  padding: 7px 0px 0 0;
}

/* functions menu (top) */

/* main-header, place where you can see navigation */

.main-header {
  background: #f4f7f9;
}

.site-about {
  color: #ee3643;
  font-family: 'Cuprum';
  font-size: 16px;
  font-style: italic;
  line-height: 23px;
}

.call-phone {
  color: #ee3643;
  font-family: 'Cuprum';
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  border: 3px solid #ffffff;
  padding: 0 0 0 29px;
}

.phone-svg {
  display: block;
  position: absolute;
  top: 4px;
  left: 22px;
}

.adress {
  color: #32425c;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.enter,
.registration {
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  background: white;
  padding-left: 25px;
}

.enter-svg {
  display: block;
  position: absolute;
  top: 2px;
  left: 17px;
}

.navigation-style {
  display: flex;
  background-color: #32425c;
  box-shadow: inset 0 -5px 0 #293449;
  margin: 0;
  padding: 0;
  margin-bottom: 60px;

}

.navigation-list {
  display: inline-block;
}

.navigation-list:nth-child(1) {
  padding: 5px 45px 8px 35px;
}

.navigation-list:nth-child(2) {
  padding: 5px 35px 8px 35px;
}

.navigation-list:nth-child(3) {
  padding: 5px 35px 8px 35px;
}

.navigation-list:nth-child(4) {
  padding: 5px 35px 8px 35px;
}

.navigation-list:nth-child(5) {
  padding: 5px 35px 8px 35px;
}

.navigation-list:nth-child(6) {
  padding: 5px 35px 8px 35px;
}

.navigation-list:nth-child(7) {
  padding: 5px 35px 8px 35px;
}

/* main-header, place where you can see navigation */

/* main contant part of the site */

.paragraph-style {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
}

.paragraph-transparent {
  background-color: #000000;
  opacity: 0.1;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 12px 24px;
  width: 136px;
}

.content-block-yl {
  background-color: #ffbf47;
}

.content-block-bl {
  background-color: #3bbce3;
}

.content-block-ppl {
  background-color: #dc91d8;
}

.content-block-gr {
  background-color: #8ed78f;
}

.content-block-yl,
.content-block-bl,
.content-block-ppl,
.content-block-gr {
  padding: 25px 42px 22px 23px;
}

.new-flag {
  position: absolute;
  top: 0;
  right: 15px;
}

.content-block-yl img,
.content-block-bl img,
.content-block-ppl img,
.content-block-gr img {
  float: right;
}

.offers {
  padding-top: 59px;
}

.slider-paragraph-bold {
  position: absolute;
  top: 2px;
  left: 7px;
  display: inline-block;
  color: #fff;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}


.slider-paragraph-slim {
  position: absolute;
  top: 38px;
  left: 8px;
  color: #fff;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.indent-slider,
.indent-products {
  margin-top: 20px;
}

.paragraph-products {
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.best-products {
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 55px;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
}

.bg-prod {
  background-color: #f9f5f0;
  padding: 33px 24px 35px 30px;
}

.parapgraph-products {
  color: #000000;
  font-family: "PT Sans";
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
}

.span-products {
  color: #a9a9a9;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-decoration: line-through;
  text-transform: uppercase;
  padding: 20px 0 0 20px;
}

.paragraph-prod-cost {
  background-color: #ee3643;
  padding: 13px 40px 13px 24px;
  text-align: right;
  color: #ffffff;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  text-transform: uppercase;
  display: inline-block;
  text-align: right;
}

.arrow {
  width: 0;
  height: 0;
  border: 22px solid transparent;
  border-left-color: #ee3643;
  position: absolute;
  right: -4px;
} 

.products-style {
  border: 1px solid #eaeaea;
  text-align: center;
  position: relative;
}

.fabricator-style {
  border: 1px solid #eaeaea;
  text-align: center;
  align-items: center;
}

.indent-fabr {
  margin-bottom: 85px;
}

/* main contant part of the site */

/* menu bellow main part of site */

.menu-below-main {
  background-color: #f4f8f9;
  margin-bottom: 82px;
  padding-bottom: 63px;
}

.paragraph-service {
  color: #000000;
  font-family: "PT Sans";
  font-size:30px;
  font-weight: 400;
}

.span-offer {
  font-family: Cuprum;
  font-size: 13px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.offers-mark {
  box-shadow: inset 0 -1px 0 #33445a;
  background-color: #32425c;
  margin: 0;
  padding: 0;
}

.offers-mark a {
  display: block;
}

.list-mark-style a {
  padding: 9px 0 9px 9px;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  text-decoration: none;
}

.list-mark-style:nth-child(1) {
  border-bottom: 1px solid #fff
}

.list-mark-style:nth-child(3) {
  border-top: 1px solid #fff
}

.shadow-effect {
  position: absolute;
  right: 11.6px;
  top: -51px;
}

.delivery-paragraph {
  color: #32425c;
  font-family: Cuprum;
  font-size: 36px;
  font-weight: 400;
  line-height: 36px;
  text-transform: uppercase;
}

.delivery-span {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  padding-right: 70px;
}

/* menu bellow main part of site */

/* next part of site style */

.name-company,
.contacts-hd {
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
}

.text-about {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  margin-bottom: 30px;
}

.text-about-two {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
}

.company-partners li{
  position: relative;

}

.company-partners-list::before {
  content: url("../img/red-line.jpg");
  color: #ee3643;
  width: 25px;
  position: absolute;
  left: -30px;
  bottom: 4px;
  font-style: 10px;
}

.cargo {
  position: absolute;
  top: 10px;
  left: -120px;
}

.about-us-link {
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 55px;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
}

.lil-map {
  border: none;
}

.popup {
  background-color: #ee3643;
  color: #ffffff;
  font-family: Cuprum;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  padding: 14px 55px;
  border: 0;
  border-radius: 4px;
  text-decoration: none;
}

.top-footer {
  margin-bottom: 86px;
}

.nav-footer {
  background-color: #32425c;
}

.technomart-link-footer {
  background-color: #ee3643;
  box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
  padding: 10px 64.5px 15px 64.5px;
  color: #ffffff;
  font-family: "Cuprum";
  font-size: 24px;
  font-weight: 400;
  line-height: 24px;
  display: block;
}

.navigation-list,
.products-list {
  display: flex;
  text-align: center;
}

.navigation-li,
.products-li {
  display: inline-block;
  padding: 20px 50px 0 0;
}

.navigation-li a {
  color: #f3f7f9;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.adress-paragraph {
  color: #f3f7f9;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.products-li a {
  color: #ffd180;
  font-family: Cuprum;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

.copyright {
  color: #ffffff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.footer {
  background-color: #293449;
}

.social-list {
  display: flex;
}

.vk,
.facebook,
.instagram {
}

.social-li {
  background-color: #212a3a;
  padding: 16px;
  border-radius: 50%;
}

.call-back {
  color: #fff;
  font-family: Cuprum;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}

.adress-int {
  color: #ffd180;
}

/* catalog page. profile part */

.profile-cont {
  color: #000000;
  font-family: Cuprum;
  font-size: 21px;
  font-weight: 400;
  line-height: 21px;
  background: white;
  padding-left: 25px;
}

.profile-img {
  float: left;
}

.logout-img {
  float: right;
}

.broadcrumps-list li {
  display: inline-block;
}

.broadcrumps-list::after {
  content: ">";
  padding: 0 15px 0 15px;
  color: #e5e8eb;
}

.stock {
  background-color: #f2f6f8;
}

.main-sign-catalog {
  color: #32425c;
  font-family: Cuprum;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
}

.filter-cost,
.scale {
  background-color: #f7f3ec;
}

.filter-sign {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.costs {
  color: #000000;
  font-family: "PT Sans";
  font-size: 17px;
  font-weight: 700;
  line-height: 30px;
  text-transform: uppercase;
}


.scale {
  width: 250px;
  height: 150px;
  position: relative;
}

.sclale-brown {
  width: 150px;
  border: 2px solid #d7dcde;
  text-align: center;
  top: 74px;
  position: absolute;
  left: 50px;
}

.sclale-blue {
  width: 110px;
  border: 2px solid #00ca74;
  position: absolute;
  top: 74px;
  left: 50px;
}

.range-controls {
  position: relative;
}

.toggle {
  width: 2px;
  height: 2px;
  border: 1px solid #ababab;
  border-radius: 50%;
}

.toggle-min {
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #b1b1b1;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  left: 40px;
  cursor: pointer;
  box-sizing: content-box;
  box-shadow: 0 3px 1px #eeeae4;
}

.toggle-max {
  width: 4px;
  height: 4px;
  border: 8px solid #ffffff;
  background-color: #b1b1b1;
  border-radius: 50%;
  position: absolute;
  top: 65px;
  right: 83px;
  cursor: pointer;
  box-sizing: content-box;
  box-shadow: 0 3px 1px #eeeae4;
}

.price-controls {
}

.price-min,
.price-max {
  display: inline-block;
}

.min-price,
.max-price {
  width: 95px;
  height: 38px;
  border: 0;
  background-color: #eeeae4;
}

.dash {
}

.filter-checkbox {
  position: relative;
  color: #000000;
  font-family: "PT Sans";
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  display: block;
  cursor: pointer;
  padding-left: 40px;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

input + .checkbox-square {
  background-image: url("../img/checkbox-off.svg");
  position: absolute;
  top: -2px;
  left: 0px;
  width: 23px;
  height: 23px;
}

input:checked + .checkbox-square {
  background-image: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 23px;
  height: 23px;
}

input:checked + .checkbox-square::after {
  content: url("../img/checkbox-on.svg");
  position: absolute;
  top: -2px;
  left: 0px;
  width: 23px;
  height: 23p;
}

input + .checkbox-circle {
  background-image: url("../img/radio-off.svg");
  position: absolute;
  top: -2px;
  left: 0px;
  width: 25px;
  height: 25px;
}

input:checked + .checkbox-circle {
  background-image: none;
  position: absolute;
  top: 10px;
  left: 10px;
  width: 25px;
  height: 25px;
}

input:checked + .checkbox-circle::after {
  content: url("../img/radio-on.svg");
  position: absolute;
  top: -2px;
  left: 0px;
  width: 25px;
  height: 25p;
}

.show-button {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding: 15px 39px 14px 39px; 
}

.sorting-stuff {
  display: flex;
  flex-wrap: wrap;
  background-color: #f7f3ec;
}

.sorting-label {
  flex: 0 0 16.6666%;
  max-width: 16.6666%;
}

.sorting-for {
  flex: 0 0 83.3333%;
  max-width: 83.3333%;
}


.sort-prod {
  color: #000000;
  font-family: "PT Sans";
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.sorting-list li{
  display: inline-block;
}


.next {
  display: block;
  border: 1px solid #e5e5e5;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
  padding:  14px 15px 15px 16px;
}

.number-page-li {
  display: inline-block;
}